<% if(products.length>0){ %>
    <% products.forEach(prod=> { %>
        <div class="card" style="width: 18rem;">
            <img src=<%=prod.img %> class="card-img-top img" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    <%= prod.nombre %>
                </h5>
                <p class="card-text">$<%= prod.precio %>
                </p>
                <p class="card-text"> <em> ID: <%= prod.id %> </em> </p>
                <form action="/carrito" method="post" class=" p-1 rounded">
                    <button type="submit" class="btn btn-primary">Cargar al carrito.</button>
                </form>
            </div>
            <form action="/productos" method="delete" class="delete">
                <button type="submit" href=<%=prod.id %> class="delete"><svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-x" width="10" height="10" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <line x1="18" y1="6" x2="6" y2="18" />
                        <line x1="6" y1="6" x2="18" y2="18" />
                    </svg></button>
            </form>
        </div>
        <% }) %>
            </tbody>
            </table>
            <% }else if(products.length==0){ %>
                <h3 class=" m-5 alert alert-warning">No hay productos en stock.</h3>
                <% } %>